@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!Doctype html>
<html>
<head>
    <link rel="stylesheet" href="~/Styles/reset.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Styles/style.css" type="text/css" />
    <title>VROOM App</title>
</head>

<body>
    <header>
        <img src="~/images/logo_transparent.png" alt="logo" class="logo" />
        <h1>VROOM - Virtual Remote Open Office Manager</h1>
        <a href="Home">Home</a>
        <a href="Data">Data</a>
        <a href="About">About Us</a>
    </header>
    <main>
        <div id="home">
        <p>
            In a time when more and more companies are moving towards a remote work environment, they need new ways to organize. VROOM (Virtual Remote Open Office Manager) makes it easier for small businesses to switch to all remote office operations. VROOM offers companies the ability to keep an inventory on equipment that gets borrowed as well as maintain a new registry of employees.
        </p>
        <img src="~/images/office.jpg" alt="Office"/>
        </div>
    </main>
    <footer>
        <p>&copy; 2020 Team Tiramisu</p>
    </footer>



</body>
</html>