@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!Doctype html>
<html>
<head>
    <link rel="stylesheet" href="~/Styles/reset.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Styles/style.css" type="text/css" />
    <title>VROOM App</title>
</head>

<body>
    <header>
        <div>
            <img src="~/images/logo_transparent.png" alt="logo" class="logo" />
        </div>
        <div>

        </div>
        <div>
            <h1>VROOM</h1>
        </div>
        <div>
        </div>
        <div>
            <a href="Home">Home</a>
            <a href="Login">Login</a>
            <a href="Data">Data</a>
            <a href="About">About</a>
        </div>
    </header>
    <main>
        <div id="login">
            <div>
                <form>
                    <h2>Login</h2>
                    <input type="text" placeholder="Email">
                    <input type="password" placeholder="Password">
                    <button>Sign In</button>
                    <a>Forgot your password?</a>
                    <hr />
                </form>
            </div>

            <div>
                <form>
                    <h2>Register new account</h2>
                    <input type="text" placeholder="First Name">
                    <input type="text" placeholder="Last Name">
                    <input type="text" placeholder="Email">
                    <input type="password" placeholder="Password">
                    <button>Register</button>
                </form>
            </div>

        </div>
    </main>
    <footer>
        <p>&copy; 2020 Team Tiramisu</p>
    </footer>



</body>
</html>