@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!Doctype html>
<html>
<head>
    <link rel="stylesheet" href="~/Styles/reset.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Styles/style.css" type="text/css" />
    <title>VROOM App</title>
</head>

<body>
    <header>
        <div>
            <img src="~/images/logo_transparent.png" alt="logo" class="logo" />
        </div>
        <div>

        </div>
        <div>
            <h1>VROOM</h1>
        </div>
        <div>
        </div>
        <div>
            <a href="Home">Home</a>
            <a href="Login">Login</a>
            <a href="Data">Data</a>
            <a href="About">About</a>
        </div>
    </header>
    <main>
        <div id="about">
            <div>
                <img src="~/images/michael.jpg" alt="Michael" class="profile"/>
                <h2>Michael Refvem</h2>
                <a href="https://github.com/MRefvem" target="_blank" class="github">GitHub</a>
                <p>I am a Redmond, WA-based programmer with a background in Classical Piano. In my spare time, I enjoy hiking, gaming and fitness. Having a background as a pianist has given me a lot of experience working under high stress environments while delivering a professional result, and I think that directly applies to the world of software development as well. As a Web Developer I look forward to building beautiful websites that will lead us into the future.</p>
            </div>
            <div>
                <img src="~/images/na'ama.jpg" alt="Na'ama" class="profile"/>
                <h2>Na'ama Bar-Ilan</h2>
                <a href="https://github.com/NaamaBarIlan" target="_blank" class="github">GitHub</a>
                <p>Coming from the world of online video and ad tech, my background is in managing client relations. I’ve always loved creating and building new things and coding is a fun new way to do it. My goal is to do work that is creative and interesting, and also has some positive impact on the world. I believe coding can do both. Outside of work I enjoy watching movies, cooking, gardening, and exploring the beautiful PNW.</p>
            </div>
            <div>
                <img src="~/images/paul.jpg" alt="Paul" class="profile"/>
                <h2>Paul Rest</h2>
                <a href="https://github.com/paulmrest" target="_blank" class="github">GitHub</a>
                <p>I’m Paul. After years of wanting to do a coding bootcamp and it just never fitting in with life and work, I finally found the opportunity in April 2020, and took on Code Fellow’s full-time program. I am primarily interested in becoming a back-end developer, although along the way I am learning a great deal about full stack development. I have been programming to one degree or another since 2011, going so far as to build an iOS app in 2015. I have extensive customer facing experience, including in tech, and am excellent at mediating between what is possible with current technology and client expectations.</p>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2020 Team Tiramisu</p>
    </footer>



</body>
</html>